{1:F01TESTCHZHA1230000012359}{2:I940CRESCHZFAARSN}{3:{108:2307250000000000}}{4:
:20:$statement.reference
:25:$statement.account
:28C:${statement.number}/1
:60F:C${statement.openingDate}${statement.currency}${statement.openingBalanceText}
