:62F:C${statement.closingDate}${statement.currency}${statement.closingBalanceText}
:64:C${statement.closingDate}${statement.currency}${statement.closingBalanceText}
-}{5:{CHK:617F1F26E63F}}{S:{COP:P}}