:61:${statement.openingDate}D${transaction.amountText}NMSCNONRE
:86:$transaction.title
$transaction.line1 $transaction.line2
$transaction.line3 $transaction.line4
$transaction.bic $transaction.account
