			<CdtTrfTxInf>
				<PmtId>
					<InstrId>$transaction.reference</InstrId>
					<EndToEndId>EE$transaction.reference</EndToEndId>
				</PmtId>
				<Amt>
					<InstdAmt Ccy="$transaction.currency">$transaction.amount</InstdAmt>
				</Amt>
				<CdtrAgt>
					<FinInstnId>
						<BIC>$transaction.bic</BIC>
					</FinInstnId>
				</CdtrAgt>
				<Cdtr>
					<Nm>$transaction.name</Nm>
					<PstlAdr>
						<StrtNm>$transaction.address</StrtNm>
						<PstCd>$transaction.zip</PstCd>
						<TwnNm>$transaction.city</TwnNm>
						<Ctry>$transaction.country</Ctry>
					</PstlAdr>
				</Cdtr>
				<CdtrAcct>
					<Id>
						<Othr>
							<Id>$transaction.account</Id>
						</Othr>
					</Id>
				</CdtrAcct>
				<InstrForDbtrAgt>NORETRY</InstrForDbtrAgt>
				<RmtInf>
					<Ustrd>$transaction.title</Ustrd>
				</RmtInf>
			</CdtTrfTxInf>
